.root {
    background-image: url('../public/images/bg.jpg');
    width: 900px;
    height: 996px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    width: 374px;
    margin-left: auto;
    margin-right: auto;
    &__header {
        padding-top: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    &__heading {
        margin-left: auto;
        margin-right: auto;
        font-family: 'PT Sans';
        font-weight: 700;
        font-size: 33px;
        line-height: 36px;
        color: #262e73;
        width: 270px;
        margin-bottom: 14px;
    }
}
.sex-choice {
}